@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap');

$manrope: 'Manrope', sans-serif;

body {
  font-family: $manrope;
  font-size: 28px;
}

.title {
  font-size: 0.70rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.advice {
  font-size: 1.5rem;
}
